.sidebar {
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
    top: 50px;
    max-width: 320px;
    cursor: pointer;
    background: white;
}
.sidebar:hover::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar {
    display: none;
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}
.sidebarWrapper {
    padding: 20px;
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.logoutBtn{
    padding: 0.5rem 1rem;
    border: 1px solid rgba(158, 158, 158, 0.678);
    color: blue;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}
.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon {
    margin-right: 15px;
}
.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0px;
}
.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarContainer{
    position: relative;
    z-index: 10000;
    flex: 2.5;
}
.menubar{
    display: none;
    color: white;
    position: fixed;
    top: 3.5rem;
    left: 0.5rem;
}
.menu-icon{
    border-radius: 100%;
    z-index: 10000;
    background: #1877f2;
    padding: 0.25rem;
    box-shadow: 1px 1px 12px 5px #1877f2;
}
@media screen and (max-width: 768px) {
    .sidebar{
        display: none;
    }
    .sidebar.show{
        display: flex;
        gap: 0.25rem;
        min-width: 8rem;
        align-items: start;
        justify-content: stretch;
        position: absolute;
        top: 0;
        left: 0;
    }
    .sidebarContainer{
        flex: none;
    }
    .menubar{
        display: block;
    }
    .menubar.show{
        left: 8rem;
    }
    .menubar.show .menu-icon{
        background: #188ff2
    }
}