@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: #f9fafb;
    color: #111827;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
}